@model SismaV02.Models.Transaccion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estás seguro que quieres eliminar este registro?</h3>
<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesTransac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesTransac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit"  value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
