@model SismaV02.Models.Transaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesTransac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesTransac)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodTransac }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
